@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.one-direction-twice-carpenter-r5 {
  display: flex;
  justify-content: center; }

.ids-itiel-agape-alex {
  display: flex;
  justify-content: center; }

.daily-mix-1-daily-mix-2-daily-mix-3-mix-country-mix-pop-mix-latino-mix-melanco-mix-90 {
  display: flex;
  justify-content: center; }

.one-direction-twice-carpenter-r5 {
  display: flex;
  justify-content: center; }

.ids-itiel-agape-alex {
  display: flex;
  justify-content: center; }

.daily-mix-1-daily-mix-2-daily-mix-3-mix-country-mix-pop-mix-latino-mix-melanco-mix-90 {
  display: flex;
  justify-content: center; }

.grid-artist {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .grid-artist .artist {
    margin-bottom: 35px;
    border-radius: 10px; }

.grid-albums {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .grid-albums .album {
    margin-bottom: 35px; }

.grid-podcast {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .grid-podcast .podcast {
    margin: 10px 20px; }

.grid-mix {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .grid-mix .mix {
    margin-bottom: 35px; }

@media screen and (min-width: 480px) {
  .grid-artist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 4rem; } }

@media screen and (min-width: 680px) {
  .grid-artist {
    grid-template-columns: repeat(3, 1fr); }
  .grid-albums {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 4rem; }
  .grid-podcast {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .grid-mix {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 4rem; } }

@media screen and (min-width: 900px) {
  .grid-artist {
    margin-left: 7rem; }
  .grid-albums {
    margin-left: 8rem; }
  .grid-mix {
    margin-left: 8rem; } }

@media screen and (min-width: 1024px) {
  .grid-artist {
    grid-template-columns: repeat(4, 1fr);
    margin-left: 4rem; }
  .grid-albums {
    margin-left: 10rem;
    gap: 1em; }
  .grid-podcast {
    margin: 3rem; }
  .grid-mix {
    margin-left: 10rem;
    gap: 3em; } }

@media screen and (min-width: 1200px) {
  .grid-artist {
    grid-template-columns: repeat(6, 1fr);
    margin-left: 4rem;
    gap: 2em; }
  .grid-albums {
    grid-template-columns: repeat(4, 1fr);
    margin-left: 4rem;
    gap: 1em; }
  .grid-podcast {
    margin: 3rem;
    gap: 3rem; }
  .grid-mix {
    grid-template-columns: repeat(4, 1fr);
    margin-left: 4rem;
    gap: 3em; } }

.bg-image {
  background-image: url("../img/imagen-fondo-concierto.jpg");
  background-size: 100vw 100vh; }

.title {
  font-size: 90px;
  margin-top: 2em;
  color: #ffff; }

.start {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; }

.color-de-fondo {
  background-color: #161719;
  color: #d08540;
  border-color: #d08540;
  height: 60px;
  font-size: 2em;
  font-weight: bold; }

.color-de-fondo:hover {
  background-color: #d08540;
  color: #ffff; }

.up {
  position: fixed;
  border-radius: 7px;
  width: 50px;
  height: 50px;
  background-color: #d08540;
  color: #161719;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px; }

@media screen and (max-width: 380px) {
  .title {
    font-family: 'Bebas Neue', cursive;
    font-size: 65px;
    margin-top: 2em; }
  .color-de-fondo {
    background-color: #161719;
    width: 165px;
    height: 60px;
    font-size: 1em;
    font-weight: bold; } }

/*LOGIN*/
.login {
  margin-top: 3em;
  height: 70vh; }
  .login .img-login {
    background-size: cover;
    background-position: center center;
    width: 50%; }
  .login .ingresar {
    background-color: #161719;
    width: 30%; }
    .login .ingresar .formulario {
      padding: 2.5em; }
      .login .ingresar .formulario .welcome {
        font-size: 3em;
        margin-top: 0;
        margin-bottom: 0; }
      .login .ingresar .formulario .sesion {
        color: #c0c4d6;
        font-size: 20px;
        text-align: center; }
      .login .ingresar .formulario .password-olvidada a {
        color: #c0c4d6;
        display: inline-block;
        margin-top: 0.5em; }
      .login .ingresar .formulario .input label {
        display: block;
        color: #c0c4d6;
        font-weight: bold;
        margin: 1em 0; }
      .login .ingresar .formulario .input input {
        width: 100%;
        padding: 6px 14px;
        border-radius: 5px; }

.submit {
  font-weight: bold;
  color: #d08540;
  border-color: #d08540;
  width: 100%;
  margin-top: 1em; }

.submit:hover {
  background-color: #d08540;
  color: #ffff; }

@media screen and (min-width: 768px) {
  .login {
    display: flex;
    justify-content: center; }
  .img-login {
    height: auto; } }

/*PLAYLIST*/
.one-direction-twice-carpenter-r5 {
  display: flex;
  justify-content: center; }

.ids-itiel-agape-alex {
  display: flex;
  justify-content: center; }

.daily-mix-1-daily-mix-2-daily-mix-3-mix-country-mix-pop-mix-latino-mix-melanco-mix-90 {
  display: flex;
  justify-content: center; }

.one-direction-twice-carpenter-r5 {
  display: flex;
  justify-content: center; }

.ids-itiel-agape-alex {
  display: flex;
  justify-content: center; }

.daily-mix-1-daily-mix-2-daily-mix-3-mix-country-mix-pop-mix-latino-mix-melanco-mix-90 {
  display: flex;
  justify-content: center; }

.grid-playlist {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .grid-playlist .playlist {
    margin-top: 35px; }

@media screen and (min-width: 768px) {
  .grid-playlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 4rem; } }

@media screen and (min-width: 1024px) {
  .grid-playlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 4rem; } }

@media screen and (min-width: 1200px) {
  .grid-playlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 10rem; } }

/*SHOP*/
.grid-shop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 4rem;
  gap: 5em; }
  .grid-shop .card {
    height: 100%;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    .grid-shop .card .card-img {
      height: 100%;
      width: 100%;
      border-radius: .5rem;
      transition: .3s ease; }
    .grid-shop .card .card-info {
      padding-top: 10%; }
    .grid-shop .card svg {
      width: 20px;
      height: 20px; }
    .grid-shop .card .card-footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
      border-top: 1px solid #ddd; }
    .grid-shop .card .text-title {
      font-weight: 900;
      font-size: 1.2em;
      line-height: 1.5; }
    .grid-shop .card .text-body {
      font-size: .9em;
      padding-bottom: 10px; }
    .grid-shop .card .card-button {
      border: 1px solid #252525;
      display: flex;
      padding: .3em;
      cursor: pointer;
      border-radius: 50px;
      transition: .3s ease-in-out; }
    .grid-shop .card .card-img:hover {
      transform: translateY(-25%);
      box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px; }
    .grid-shop .card .card-button:hover {
      border: 1px solid #d08540;
      background-color: #d08540; }

@media screen and (min-width: 300px) {
  .grid-shop {
    display: grid;
    grid-template-columns: repeat(1, 1fr); } }

@media screen and (min-width: 600px) {
  .grid-shop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 4rem;
    gap: 5em; } }

@media screen and (min-width: 900px) {
  .grid-shop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 4rem;
    gap: 5em; } }

.about {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .about .content {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; }
    .about .content img {
      height: auto;
      width: 600px;
      max-width: 100%; }
    .about .content .text {
      width: 550px;
      max-width: 100%;
      padding: 0 10px; }
      .about .content .text .titulo {
        color: #d08540;
        display: flex;
        font-size: 75px;
        margin-bottom: 20px;
        margin-top: 0;
        text-transform: capitalize; }
      .about .content .text p {
        color: #c0c4d6;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 1px;
        margin-bottom: 45px; }
      .about .content .text .know-more {
        font-weight: bold;
        color: #d08540;
        border-color: #d08540; }
      .about .content .text .know-more:hover {
        background-color: #d08540;
        color: #ffff; }

@media screen and (max-width: 1180px) {
  .about {
    width: 100%;
    height: auto;
    padding: 70px 0px; }
    .about .content img {
      height: auto;
      width: 600px;
      max-width: 100%;
      margin-bottom: 10px; } }

.one-direction-twice-carpenter-r5 {
  display: flex;
  justify-content: center; }

.ids-itiel-agape-alex {
  display: flex;
  justify-content: center; }

.daily-mix-1-daily-mix-2-daily-mix-3-mix-country-mix-pop-mix-latino-mix-melanco-mix-90 {
  display: flex;
  justify-content: center; }

.one-direction-twice-carpenter-r5 {
  display: flex;
  justify-content: center; }

.ids-itiel-agape-alex {
  display: flex;
  justify-content: center; }

.daily-mix-1-daily-mix-2-daily-mix-3-mix-country-mix-pop-mix-latino-mix-melanco-mix-90 {
  display: flex;
  justify-content: center; }

* {
  padding: 0%;
  margin: 0%; }

body {
  background-color: #191c1f;
  position: relative;
  padding-bottom: 10rem;
  min-height: 100vh; }

a:hover {
  color: #d08540 !important; }

.search {
  color: #d08540;
  border-color: #d08540; }

.search:hover {
  background-color: #d08540;
  color: #ffff; }

h2 {
  color: #d08540;
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
  font-family: 'Bebas Neue',capital letter;
  font-size: 4.5rem; }

h1 {
  color: #d08540;
  margin-top: 3em;
  margin-bottom: 3rem;
  text-align: center;
  font-family: 'Bebas Neue', capital letter;
  font-size: 4.5rem; }

.h1 {
  color: #d08540;
  text-align: center;
  margin-top: 1em;
  font-size: 4rem;
  font-family: 'Bebas Neue',capital letter; }

.pie-pagina {
  width: 100%;
  background-color: #161719;
  position: absolute;
  bottom: -110px;
  padding: 2em 0;
  display: flex;
  justify-content: center; }
  .pie-pagina .grupo-1 {
    width: 50%;
    max-width: 1200px;
    margin: auto; }
    .pie-pagina .grupo-1 .red-social a {
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: #ffff;
      background-color: #0d2033;
      text-align: center; }
  .pie-pagina .grupo-2 {
    margin: auto;
    text-align: center;
    color: #ffff; }
    .pie-pagina .grupo-2 small {
      font-size: 15px; }
  @media screen and (max-width: 800px) {
    .pie-pagina {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px; } }
  @media screen and (max-width: 380px) {
    .pie-pagina {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px; }
      .pie-pagina .grupo-1 {
        width: 55%;
        margin: auto; } }

.one-direction-twice-carpenter-r5 {
  display: flex;
  justify-content: center; }

.ids-itiel-agape-alex {
  display: flex;
  justify-content: center; }

.daily-mix-1-daily-mix-2-daily-mix-3-mix-country-mix-pop-mix-latino-mix-melanco-mix-90 {
  display: flex;
  justify-content: center; }

.one-direction-twice-carpenter-r5 {
  display: flex;
  justify-content: center; }

.ids-itiel-agape-alex {
  display: flex;
  justify-content: center; }

.daily-mix-1-daily-mix-2-daily-mix-3-mix-country-mix-pop-mix-latino-mix-melanco-mix-90 {
  display: flex;
  justify-content: center; }
