.one-direction-twice-carpenter-r5, .grid-albums .grid-albums {
  display: flex;
  justify-content: center; }

.ids-itiel-agape-alex, .grid-podcast .grid-albums {
  display: flex;
  justify-content: center; }

.daily-mix-1-daily-mix-2-daily-mix-3-mix-country-mix-pop-mix-latino-mix-melanco-mix-90, .grid-mix .grid-mix {
  display: flex;
  justify-content: center; }

.one-direction-twice-carpenter-r5, .grid-albums .grid-albums {
  display: flex;
  justify-content: center; }

.ids-itiel-agape-alex, .grid-podcast .grid-albums {
  display: flex;
  justify-content: center; }

.daily-mix-1-daily-mix-2-daily-mix-3-mix-country-mix-pop-mix-latino-mix-melanco-mix-90, .grid-mix .grid-mix {
  display: flex;
  justify-content: center; }

.grid-artist {
  display: grid;
  margin-left: 4rem;
  grid-template-columns: repeat(6, 1fr);
  gap: 2em; }
  .grid-artist .artist {
    border-radius: 1em; }
  @media screen and (max-width: 900px) {
    .grid-artist {
      display: grid;
      margin-right: 3rem;
      grid-template-columns: repeat(4, 1fr);
      gap: 2em; } }
  @media screen and (max-width: 600px) {
    .grid-artist {
      display: grid;
      margin-left: 3rem;
      grid-template-columns: repeat(3, 1fr);
      gap: 1em; } }
  @media screen and (max-width: 380px) {
    .grid-artist {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin-left: 5rem; }
      .grid-artist .artist {
        width: 70%; } }

.grid-albums {
  display: grid;
  margin-left: 4rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em; }
  @media screen and (max-width: 900px) {
    .grid-albums {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-left: 15%; } }
  @media screen and (max-width: 600px) {
    .grid-albums {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2em;
      margin-left: 1rem; } }
  @media screen and (max-width: 380px) {
    .grid-albums {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 2em;
      margin-left: 3rem; } }

.grid-podcast {
  display: grid;
  margin: 3rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem; }
  @media screen and (max-width: 900px) {
    .grid-podcast {
      display: grid;
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (max-width: 600px) {
    .grid-podcast {
      display: grid;
      grid-template-columns: repeat(1, 1fr); } }
  @media screen and (max-width: 380px) {
    .grid-podcast {
      display: grid;
      grid-template-columns: repeat(1, 1fr); } }

.grid-mix {
  display: grid;
  margin-left: 4rem;
  margin-bottom: 4rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 3em; }
  @media screen and (max-width: 900px) {
    .grid-mix {
      display: grid;
      margin-left: 15%;
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (max-width: 600px) {
    .grid-mix {
      display: grid;
      margin-left: 3%;
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (max-width: 380px) {
    .grid-mix {
      display: grid;
      margin-left: 3rem;
      grid-template-columns: repeat(1, 1fr); } }

.bg-image {
  background-image: url("../img/imagen-fondo-concierto.jpg");
  background-size: 100vw 100vh; }

.title {
  font-family: 'Bebas Neue',capital letter;
  font-size: 90px;
  margin-top: 2em; }

.start {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; }

.color-de-fondo {
  background-color: #161719;
  width: 245px;
  height: 60px;
  font-size: 2em;
  font-weight: bold; }

.up {
  position: fixed;
  border-radius: 7px;
  width: 50px;
  height: 50px;
  background-color: #198754;
  color: #161719;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px; }

@media screen and (max-width: 380px) {
  .title {
    font-family: 'Bebas Neue', cursive;
    font-size: 65px;
    margin-top: 2em; }
  .color-de-fondo {
    background-color: #161719;
    width: 165px;
    height: 60px;
    font-size: 1em;
    font-weight: bold; } }

/*HTML LOGIN*/
.box {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 450px;
  padding: 70px;
  border-radius: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333333;
  text-align: center; }
  .box h1 {
    text-transform: uppercase;
    font-weight: 500;
    background-color: #333333; }
  .box input[type="text"], .box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #218c74;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #ffff;
    border-radius: 24px;
    transition: 0.25s; }
  .box input[type="text"]:focus, .box input[type="password"]:focus {
    width: 280px;
    border-color: #474787; }
  .box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #474787;
    padding: 14px 40px;
    outline: none;
    color: #ffff;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer; }
  .box input[type="submit"]:hover {
    background: #474787; }

@media screen and (max-width: 800px) {
  .box {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 400px;
    padding: 35px;
    border-radius: 20px;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333333;
    text-align: center; } }

@media screen and (max-width: 380px) {
  .box {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 300px;
    padding: 40px;
    border-radius: 20px;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333333;
    text-align: center; } }

/*HTML PLAYLIST*/
.container-playlist {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0; }

.grid-playlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px; }

@media screen and (max-width: 900px) {
  .container-playlist {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0; }
  .grid-playlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-left: 50px; } }

@media screen and (max-width: 600px) {
  .container-playlist {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0; }
  .grid-playlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-left: 50px; } }

@media screen and (max-width: 380px) {
  .container-playlist {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0; }
  .grid-playlist {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    margin-left: 50px; } }

/*HTML SHOP*/
.grid-shop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 4rem;
  gap: 5em; }
  .grid-shop .card {
    height: 100%;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    .grid-shop .card .card-img {
      height: 100%;
      width: 100%;
      border-radius: .5rem;
      transition: .3s ease; }
    .grid-shop .card .card-info {
      padding-top: 10%; }
    .grid-shop .card svg {
      width: 20px;
      height: 20px; }
    .grid-shop .card .card-footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
      border-top: 1px solid #ddd; }
    .grid-shop .card .text-title {
      font-weight: 900;
      font-size: 1.2em;
      line-height: 1.5; }
    .grid-shop .card .text-body {
      font-size: .9em;
      padding-bottom: 10px; }
    .grid-shop .card .card-button {
      border: 1px solid #252525;
      display: flex;
      padding: .3em;
      cursor: pointer;
      border-radius: 50px;
      transition: .3s ease-in-out; }
    .grid-shop .card .card-img:hover {
      transform: translateY(-25%);
      box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px; }
    .grid-shop .card .card-button:hover {
      border: 1px solid  #198754;
      background-color: #198754; }

.one-direction-twice-carpenter-r5, .grid-albums .grid-albums {
  display: flex;
  justify-content: center; }

.ids-itiel-agape-alex, .grid-podcast .grid-albums {
  display: flex;
  justify-content: center; }

.daily-mix-1-daily-mix-2-daily-mix-3-mix-country-mix-pop-mix-latino-mix-melanco-mix-90, .grid-mix .grid-mix {
  display: flex;
  justify-content: center; }

.one-direction-twice-carpenter-r5, .grid-albums .grid-albums {
  display: flex;
  justify-content: center; }

.ids-itiel-agape-alex, .grid-podcast .grid-albums {
  display: flex;
  justify-content: center; }

.daily-mix-1-daily-mix-2-daily-mix-3-mix-country-mix-pop-mix-latino-mix-melanco-mix-90, .grid-mix .grid-mix {
  display: flex;
  justify-content: center; }

* {
  padding: 0%;
  margin: 0%; }

body {
  background-color: #191c1f;
  position: relative;
  padding-bottom: 10rem;
  min-height: 100vh; }

a:hover {
  color: orange !important; }

h2 {
  margin-top: 5em;
  margin-bottom: 1em;
  text-align: center;
  font-family: 'Bebas Neue',capital letter;
  color: #ffff;
  font-size: 3rem; }

h1 {
  margin-top: 5em;
  margin-bottom: 1em;
  text-align: center;
  font-family: 'Bebas Neue', capital letter;
  color: #ffff;
  font-size: 3rem; }

.h1 {
  text-align: center;
  margin-top: 1em;
  font-size: 4rem;
  font-family: 'Bebas Neue',capital letter;
  color: #ffff; }

.pie-pagina {
  width: 100%;
  background-color: #161719;
  position: absolute;
  bottom: -110px;
  padding: 2em 0;
  display: flex;
  justify-content: center; }
  .pie-pagina .grupo-1 {
    width: 50%;
    max-width: 1200px;
    margin: auto; }
    .pie-pagina .grupo-1 .red-social a {
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: #ffff;
      background-color: #0d2033;
      text-align: center; }
  .pie-pagina .grupo-2 {
    margin: auto;
    text-align: center;
    color: #ffff; }
    .pie-pagina .grupo-2 small {
      font-size: 15px; }
  @media screen and (max-width: 800px) {
    .pie-pagina {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px; } }
  @media screen and (max-width: 380px) {
    .pie-pagina {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px; }
      .pie-pagina .grupo-1 {
        width: 55%;
        margin: auto; } }

.one-direction-twice-carpenter-r5, .grid-albums .grid-albums {
  display: flex;
  justify-content: center; }

.ids-itiel-agape-alex, .grid-podcast .grid-albums {
  display: flex;
  justify-content: center; }

.daily-mix-1-daily-mix-2-daily-mix-3-mix-country-mix-pop-mix-latino-mix-melanco-mix-90, .grid-mix .grid-mix {
  display: flex;
  justify-content: center; }

.one-direction-twice-carpenter-r5, .grid-albums .grid-albums {
  display: flex;
  justify-content: center; }

.ids-itiel-agape-alex, .grid-podcast .grid-albums {
  display: flex;
  justify-content: center; }

.daily-mix-1-daily-mix-2-daily-mix-3-mix-country-mix-pop-mix-latino-mix-melanco-mix-90, .grid-mix .grid-mix {
  display: flex;
  justify-content: center; }
