@import "../variables/variables";
@import "../sass2.scss/extend";

@mixin grids ($display, $direction, $centrado-alineado) {
    display: $display;
    flex-direction: $direction;
    align-items: $centrado-alineado;
}



