
//ABOUT US//
.about{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .content{
        img{
            height: auto;
            width: 600px;
            max-width: 100%;
        }
        .text{
            width: 550px;
            max-width: 100%;
            padding: 0 10px;
            .titulo{
                color: #d08540;
                display: flex;
                font-size: 75px;
                margin-bottom: 20px;
                margin-top: 0;
                text-transform: capitalize;
            }
            p{
                color: #c0c4d6;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 1px;
                margin-bottom: 45px;
            }
            .know-more{
                font-weight: bold;
                color: #d08540;
                border-color: #d08540;
            }
            .know-more:hover{
                background-color: #d08540;
                color: #ffff;
            }
        }
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-around;
    }
}

@media screen and (max-width:1180px) {
    .about{
        width: 100%;
        height: auto;
        padding: 70px 0px;
        .content{
            img{
                height: auto;
                width: 600px;
                max-width: 100%;
                margin-bottom: 10px;
            }
        }
    }
}


