@import "variables/variables";
@import "../sass2.scss/extend";
@import "../sass2.scss/mixins";


*{
    padding: 0%;
    margin: 0%;
}


a:hover{
    color: $color !important;
}
h2:hover{
    color: $color !important;
}
h1:hover{
    color: $color !important;
}


h2{
    margin-top: 5em ;
    margin-bottom: 1em;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffff;
    font-size: 3rem;
}


h1{
    margin-top: 5em ;
    margin-bottom: 1em;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #ffff;
    font-size: 3rem;
}

.h1{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #ffff;
}
