@import "../variables/variables";
@import "../sass2.scss/mixins";
@import "../sass2.scss/extend";

section{
    .img{
        height: 100vh;
        width: 98vw;
        position: relative;
    }
    h1{
        font-size: 3rem;
        position: absolute;
        color: #ffffff;
        top:50%;
        left:50%;
    }
}



                                   //*ARTISTS*//

.grid-artist{
    @include grids-artist ($dis, $margin-left, $columnas, $espacio, $ancho);
}

                                       //*ALBUMS*//
.grid-albums{
    @include grids-albums;
}

                                //*PODCAST*//

.grid-podcast{
    display: grid;
    margin: 1rem;
    grid-template-columns:repeat(2,1fr) ;
    gap:3em;
    .ids{
        display: flex;
        justify-content: center;
    }
    .itiel{
        display: flex;
        justify-content: center;
    }
    .agape{
        display: flex;
        justify-content: center;
    }
    .alex{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:900px){
    .grid-podcast{
        display: grid;
        margin: 0 40px 0 40px;
        grid-template-columns:repeat(1,1fr);
    }
    .ids{
        display: flex;
        justify-content: center;
    }
    .itiel{
        display: flex;
        justify-content: center;
    }
    .agape{
        display: flex;
        justify-content: center;
    }
    .alex{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:600px){
    .grid-podcast{
        display: grid;
        margin: 0 40px 0 40px;
        grid-template-columns:repeat(1,1fr);
    }
    .ids{
        display: flex;
        justify-content: center;
    }
    .itiel{
        display: flex;
        justify-content: center;
    }
    .agape{
        display: flex;
        justify-content: center;
    }
    .alex{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:380px){
    .grid-podcast{
        display: grid;
        grid-template-columns:repeat(1,1fr);
    }
    .ids{

        display: flex;
        justify-content: center;
    }
    .itiel{
        display: flex;
        justify-content: center;
    }
    .agape{
        display: flex;
        justify-content: center;
    }
    .alex{
        display: flex;
        justify-content: center;
    }
}

                               //*MIX*//

.grid-mix{
    display: grid;
    margin: 0 40px 40px 40px;
    grid-template-columns:repeat(3,1fr);
    gap: 20px;
    .daily-mix-1{
        display: flex;
        justify-content: center;
    }
    .daily-mix-2{
        display: flex;
        justify-content: center;
    }
    .daily-mix-3{
        display: flex;
        justify-content: center;
    }
    .mix-country{
        display: flex;
        justify-content: center;
    }
    .mix-pop{
        display: flex;
        justify-content: center;
    }
    .mix-latino{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:900px) {
    .grid-mix{
        display: grid;
        grid-template-columns:repeat(2,1fr);
    }
    
    .daily-mix-1{
        display: flex;
        justify-content: center;
    }
    .daily-mix-2{
        display: flex;
        justify-content: center;
    }
    .daily-mix-3{
        display: flex;
        justify-content: center;
    }
    .mix-country{
        display: flex;
        justify-content: center;
    }
    .mix-pop{
        display: flex;
        justify-content: center;
    }
    .mix-latino{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width:600px) {
    .grid-mix{
        display: grid;
        grid-template-columns:repeat(2,1fr);
    }
    
    .daily-mix-1{
        display: flex;
        justify-content: center;
    }
    .daily-mix-2{
        display: flex;
        justify-content: center;
    }
    .daily-mix-3{
        display: flex;
        justify-content: center;
    }
    .mix-country{
        display: flex;
        justify-content: center;
    }
    .mix-pop{
        display: flex;
        justify-content: center;
    }
    .mix-latino{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width:380px) {
    .grid-mix{
        display: grid;
        grid-template-columns:repeat(1,1fr);
        gap: 20px;
        justify-content: center;
    }
    
    .daily-mix-1{
        display: flex;
        justify-content: center;
    }
    .daily-mix-2{
        display: flex;
        justify-content: center;
    }
    .daily-mix-3{
        display: flex;
        justify-content: center;
    }
    .mix-country{
        display: flex;
        justify-content: center;
    }
    .mix-pop{
        display: flex;
        justify-content: center;
    }
    .mix-latino{
        display: flex;
        justify-content: center;
    }
}
