/*LOGIN*/

.login{
    margin-top: 3em;
    height: 70vh;
    .img-login{
        background-size: cover;
        background-position: center center;
        width: 50%;
    }
    .ingresar{
        background-color: #161719;
        width: 30%;
        .formulario{
            padding: 2.5em;
            .welcome{
                font-size: 3em;
                margin-top: 0;
                margin-bottom: 0;
            }
            .sesion{
                color: #c0c4d6;
                font-size: 20px;
                text-align: center;
            }
            .password-olvidada a{
                color: #c0c4d6;
                display: inline-block;
                margin-top: 0.5em;
            }
            .input{
                label{
                    display: block;
                    color: #c0c4d6 ;
                    font-weight: bold;
                    margin: 1em 0;
                }
                input{
                    width: 100%;
                    padding: 6px 14px;
                    border-radius: 5px;
                }
            }
        }
    }
}
.submit{
    font-weight: bold;
    color: #d08540;
    border-color: #d08540;
    width: 100%;
    margin-top: 1em;
}
.submit:hover{
    background-color: #d08540;
    color: #ffff;
}

@media screen and (min-width:768px) {
    .login{
        display: flex;
        justify-content: center;
    }
    .img-login{
        height: auto;
    }
}