/*PLAYLIST*/
@import "../variables/variables";
@import "../sass2.scss/mixins";
@import "../sass2.scss/extend";


.grid-playlist{
    @include grids  ($display, $direction, $centrado-alineado);
    .playlist{
        margin-top: 35px;
    }
}

@media screen and (min-width:768px) {
    .grid-playlist{
        display: $dis;
        grid-template-columns: repeat(2,1fr);
        margin-left: $margin-left;
    }
}

@media screen and (min-width:1024px) {
    .grid-playlist{
        display: $dis;
        grid-template-columns: repeat(3,1fr);
        margin-left: $margin-left;
    }
}

@media screen and (min-width:1200px) {
    .grid-playlist{
        display: $dis;
        grid-template-columns: repeat(3,1fr);
        margin-left: 10rem;
    }
}